.CardGrid{
    display: flex;
    flex-wrap: wrap;
  }

  .Card{
    width: calc(30% - 16px);
    box-shadow: 2px 2px 4px #ccc;
    border-radius: 5px;
    margin: 8px;
  }

  .CardTitle{
    text-align: center;
  }

  .Thumbnail{
    width: 100%
  }

  @media(max-width: 400px){
    .Card{
      width: 100%
    }
  }